html, * {
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body {
    margin: 0px auto;
}

nav {
    width: 100%;
    margin: 0px auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0.5;
}

nav > .navbar.active {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
}

nav > .navbar {
    display: none;
}

.nav-link {
    font-size: 20px;
    text-decoration: none;
    color: white;
}

#navToggle {
    background: inherit;
    border: none;
    height: 60px;
}

#navToggle svg {
    color: white;
}

#headerImage {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -5;
    background-size: 100% 100%;
    overflow: hidden;
}

.homescreen {
    background-image: url('./imgs/another.jpg'); 
    width: 100%;
    background-size: 100% 100%;
    height: 500px;
}
