html,a,li {
    font-family: 'Open Sans', sans-serif;
}
h1 {
    font-family: 'Montserrat', sans-serif;
}
.nav-bar {
    background-color: white;
    border-bottom: 1px solid black;
}
.nav-bar ul{
    background-color: white;
}

.container-fluid {
    margin:auto;
}

