html,
body {
    margin: 0px;
    height: 100%;   
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 32px;
}

#body {
    display: flex;
    flex-direction: column;
}

#body > div {
    padding: 0px 15vw 100px 15vw;
}

#header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile {
    height: 25vh;
    display: flex;
    justify-content: center;
    align-content: center;
}

.image-wrapper {
    display: block;
    margin: auto;
    flex: 1;
    text-align: center;
}

#profile-img {
    height: 25vh;
    border-radius: 50%;
    border: 1px solid gray;
}

.profile-text {
    flex: 3;
    padding-left: 50px;
}

.profile-text h2 {
    font-weight: 100;
}

.profile-text h3 {
    font-weight: 100;
}

#header-arrow {
    position: absolute;
    left: 50%;
    bottom: 50px;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    width: 15px;
    height: 15px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.section {
    display: flex;
    flex-direction: column;
}

.section-header {
    flex: 1;
}

.section-body {
    flex: 3;
    padding-left: 50px;
}

.timeline {
    list-style: none;
    margin: 0;
    padding: 0;
}

.timeline-item {
    display: flex;
    flex-direction: row;
    margin: 50px 0px;
}

.timeline-image {
    width: 5vh;
}

.item-text {
    padding-left: 20px;
    font-size: 28px;
    flex: 10;
    display: flex;
    justify-content: space-between;
}

.item-text .year {
    text-align: right;
}

@media screen and (max-width: 992px) {
    .profile {
        flex-direction: column;
        height: auto;
    }

    .profile-text {
        padding: auto;
    }

    #body > div {
        padding: 0px 100px;
    }

    .item-text {
        display: block;
    }

    .item-text .year {
        text-align: left;
    }
}